.slick {
  &__box {
    padding: 5px 25px 30px;
    &.--1 {
      &.--style {
        background-color: rgb(159, 255, 175);
      }
    }
    &.--2 {
      &.--style {
        background-color: rgb(159, 244, 255);
      }
    }
    &.--3 {
      &.--style {
        background-color: rgb(241, 255, 159);
      }
    }
    &.--4 {
      &.--style {
        background-color: rgb(159, 189, 255);
      }
    }
    &.--5 {
      &.--style {
        background-color: rgb(233, 159, 255);
      }
    }
    &.--6 {
      &.--style {
        background-color: rgb(162, 255, 56);
      }
    }
    &.--7 {
      &.--style {
        background-color: rgb(75, 147, 255);
      }
    }
    &.--8 {
      &.--style {
        background-color: rgb(255, 88, 77);
      }
    }
    &.--9 {
      &.--style {
        background-color: rgb(175, 255, 159);
      }
    }
    &.--10 {
      &.--style {
        background-color: rgb(255, 159, 212);
      }
    }
  }
}
